@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}
h1,
h2 {
  color: white;
  font-size: 1.5rem;
}

.HeaderMenu {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderMenu > img {
  width: 25vh;
  margin-bottom: 0;
}
.listaExperiencias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2b79dff6;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem);
  color: rgb(40, 46, 46);
}
.listaExperiencias > div {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listaExperiencias > div:hover {
  background-color: rgba(46, 134, 248, 0.527);
}
.experience {
  background-color: #2976dbf6;
}
.HeaderMenu {
  background-color: rgb(137, 190, 250);
}
.HeaderMenu > button {
  border-radius: 50px;
  position: absolute;
  right: 18px;
  top: 50px;
  font-size: 1.5rem;
  color: white;
  background-color: #2976dbf6;
}
.header-ul {
  background: none;
  margin: 0;
  padding: 0;
}
.header-ul > li a {
  text-decoration: none;
  color: white;
}
.header-ul > li {
  font-size: 2rem;
  min-width: 100%;
  display: inline;
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  top: 0px;
  height: 50px;
}

.header-ul > li a:hover {
  color: white;
  background-color: #2976dbf6;
}
.imagenes {
  display: inline;
  margin: 1rem;
}
.imagenes > img {
  border-radius: 25px;
  height: 500px;
}
.userImage {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.userImage > img {
  margin: 1rem;
  border-radius: 50px;
  max-height: 300px;
  overflow: hidden;
}
.userBody {
  background-color: #2976dbc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userBody > p {
  margin: 1rem;
}
.editUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upUserFoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience {
  padding: 1rem;
  background-color: rgba(147, 148, 147, 0.733);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experiencePage > .images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.editExperience,
.entryfoto {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(236, 100, 118, 0.829);
}
.reservas {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  a {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
}
